
.cards-list {
  display: flex;
  flex-direction: column;
  gap: 128px; 
}

.card-container {
  display: flex;
  gap: 128px;
  max-width: 100%;
}

.bottom-links {
  display: flex;
  flex-direction: row;
}

.section-content {
  flex-basis: 25%;
  max-width: 25%;
}

.section-img {
  flex-basis: 75%;
  max-width: 75%;
  height: auto;
}

.section-img img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid var(--secundary-grey);
}

