/*Navbar--------------------------------------------------------*/
.main-nav-container, .main-footer-container, .navbar-right, .social-media-icons, .footer-center, .footer-left, .footer-right{
  display: flex;
}

.main-nav-container, .main-footer-container{
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-right, .footer-right{
  gap: 40px;
}

.logo, .logo-footer {
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-green);
}


.section-navbar, .section-footer {
  height: 100px;
  display: flex;
  align-items: center;
  font-family: var(--font-secundary);
}

.section-navbar {
  background-image: linear-gradient(to bottom, var(--neutral-white), rgba(255, 255, 255, 0)); 
}
.social-media-icons {
  gap: 16px;
}

.social-media-icons img {
  transition: transform 0.3s ease; /* Transición suave */
}

.social-media-icons img:hover {
  transform: translateY(-4px); 
  cursor: pointer;
}

.link-page:hover{
  color: var(--primary-green);
  transition: 0.5s;
  cursor: pointer;
}

/*Footer--------------------------------------------*/

.footer-center{
  display: flex;
  gap: 32px;
}

.icon-text-footer {
  align-items: center;
}

.icon-text-footer {
  cursor: pointer;
}

.icon-text-footer p:hover {
  color: var(--primary-green);
  transition: 0.5s;
}

.email {
  color: var(--primary-green);
  text-decoration: underline;
}

.hr-footer{
  border: none;
  height: 0.5px;
  background-color: #cacaca;
  width: 100%;
}

.divider {
  color: #cacaca;
}


@media (max-width: 768px) {
  /* Centrar el logo y ajustar su tamaño */
  .navbar-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  /* Reducir el tamaño del logo en móvil */
  .logo {
    font-size: 16px; /* Ajusta según el tamaño que prefieras */
  }

  /* Ocultar los enlaces y solo dejar los iconos sociales */
  .navbar-right .link-page {
    display: none; /* Oculta Projects y About me */
  }

  /* Alinea los iconos de redes sociales a la derecha del logo */
  .navbar-right {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
  }

  /* Ajustar tamaño de los iconos sociales en móvil */
  .social-media-icons img {
    width: 20px; /* Ajusta según el tamaño que prefieras */
    height: 20px;
  }

  .main-nav-container{
    padding: 0 16px 32px 0;
  }

  /* Ajustar el padding y altura */
  .main-footer-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .section-footer{
    margin: 24px 16px;

  }

  .footer-center{
    gap: 4px;
    flex-wrap: wrap;
  }
}


