/* Estilos específicos para cada botón */


.top-section-table {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Asegura que los elementos estén centrados verticalmente */
  margin-bottom: 64px;
}

.title-table {
  font-size: 36px;
  display: flex; /* Asegura que el texto esté alineado en el centro verticalmente */
  align-items: center;
}

.tabs-table {
  display: flex;
  align-items: center;

}

.row-title {
  font-size: 24px;
  font-weight: 600;
}

.web-dev-btn {
  border-radius: 3px 0 0 3px;
}


.all-projects-btn {
  border-radius: 0 3px 3px 0;
}

.web-dev-btn, .ux-ui-btn, .all-projects-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-family: var(--font-secundary);
  color: #7e7e7e;
  background-color: var(--neutral-white);
  border: 1px solid #ACACAC;
}

.web-dev-btn:hover, .ux-ui-btn:hover, .all-projects-btn:hover {
  cursor: pointer;
  color: var(--primary-green);
  transition: 0.5s;
}

/* Estilos comunes para el botón activo */
button.active {
  border: 1px solid #00796b;
  color: var(--primary-green);
  background-color: #DDDDDD;
}


/* Contenedor de la lista de proyectos */
.row-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%; /* Ocupa todo el ancho del contenedor */
}

/* Cada proyecto será un contenedor de 5 columnas */
.row-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr auto auto; 
  width: 100%;
  border-top: 0.5px solid var(--primary-green);
  padding: 32px 0;
  align-items: center;
  gap: 56px;
}

.column1 {
  grid-column: 1;
}

.column2 {
  grid-column: 2;
  font-size: 20px;
}

.column3 {
  grid-column: 3;
}

.column4 {
  width: 100px; /* Ajusta el ancho según lo que necesites */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-secundary);
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-secundary);
  font-size: 14px;
  color: #7e7e7e;
}

.placeholder {
  visibility: hidden; /* Oculta el contenido pero mantiene el espacio */
}

.column5 {
  grid-column: 5;
  justify-self: end; 
  align-items: center;
  font-family: var(--font-secundary);
}

.skills-tags-table {
  display: flex;
  justify-content: flex-end; 
  flex-wrap: wrap;
  gap: 4px;
  font-family: var(--font-secundary);
}

.column4 p:hover, .column5 p:hover{
  color: var(--primary-green);
  transition: 0.5s;
}

.not-featured-bottom{
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 96px;
}

@media (max-width: 728px) {
  /* Cambia el layout de grid a una sola columna en dispositivos móviles */
  .row-container {
    display: flex;
    flex-direction: column; /* Apila los elementos en una columna */
    gap: 16px; /* Reduce el espacio entre elementos */
    padding: 16px 0; /* Ajusta el padding */
  }

  /* Ajustes de estilo para el título y botones */
  .row-title {
    font-size: 20px; /* Reduce el tamaño del título */
    margin-bottom: 8px; /* Añade un poco de espacio debajo del título */
  }

  /* Coloca los botones debajo del título */
  

  .icon-text {
    font-size: 14px; /* Reduce el tamaño de la fuente de los botones */
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
  }
  
  

  /* Apila el resumen y habilidades debajo de los botones */
  .column2,
  .column3,
  .column4,
  .column5 {
    font-size: 14px; /* Reduce el tamaño de la fuente para móviles */
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 0 16px;
  }

  .skills-tags-table {
    justify-content: flex-start; /* Alinea las habilidades a la izquierda */
    font-size: 14px; /* Tamaño reducido para las etiquetas de habilidades */
    gap: 4px; /* Espacio reducido entre etiquetas */
  }

  .top-section-table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 48px;
  }


  .tabs-table button {
    padding: 8px 8px;
  }
}