.about-title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.about-title h2{
  font-size: 32px;
}

.profile-picture {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--primary-green);
}

.about-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 64px;
  margin: 156px 0 156px 0;
}

.about-main-text {
  font-size: 20px;
  max-width: 45%;
}

.about-img {
  max-width: 50%;
}



.green-text {
  color: var(--primary-green);
  font-weight: 400;
}

.about-paragraph {
  margin: 32px 0 48px 0
}

.about-paragraph p{
  margin-bottom: 24px;
  line-height: 1.5;
}

/* Media query para pantallas de tablets y móviles */
@media (max-width: 1024px) {
  .about-main {
    flex-direction: column; /* Cambia el diseño a columna */
    gap: 32px; /* Reduce el espacio entre elementos */
    align-items: center;
    padding: 0 16px; /* Padding lateral de 16px */
  }

  .about-main-text {
    max-width: 100%; /* El texto ocupa todo el ancho */
    text-align: left; /* Alinea el texto a la izquierda */
  }

  .about-img {
    max-width: 100%; /* La imagen ocupa todo el ancho */
    text-align: center;
  }

  .about-img img {
    width: 100%; /* La imagen se adapta al ancho completo */
    height: auto;
  }
}