@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-green: #379777;
  --secundary-grey: #45474B;
  --neutral-white: #E6E6E6;
  --font-main: "Inter", serif;
  --font-secundary: "Fira Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  font-family: var(--font-main);
  color: var(--secundary-grey);
  background-color: var(--neutral-white);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}


.main-container, .main-nav-container {
  max-width: 1440px;
  margin: auto;
}


#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1; /* Permite que el contenido crezca y empuje el footer si hay suficiente contenido */
}



.icon-text, .icon-text-footer{
  display: flex;
  gap: 8px;
}

.skills-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.chip {
  padding: 4px 8px;
  border: 1px solid var(--primary-green);
  border-radius: 2px;
  color: var(--primary-green);
  font-size: 0.9rem;
  background-color: var(--neutral-white);
  white-space: nowrap; 
}

.section-title{
  font-size: 32px;
}


/* Hero -------------------------------------------*/
.section-hero {
  background-image: url("../src/assets/images/backgroundHome.png");
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;
  height: 100vh; /* La sección ocupa el 100% de la altura de la pantalla */
}


/* Download Button ---------------------------------------*/
.download-button{
  border: none;
  background-color: var(--primary-green);
  color: var(--neutral-white);
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  font-family: var(--font-secundary);
  border-radius: 3px;
  font-size: 14px;
  align-items: center;
}

.download-button:hover {
  cursor: pointer;
  background-color: #59ad91;
  transition: 0.5s;
}

.download-button img{
  width: 14px;
}

/* Scroll to top button -------------------------------------*/

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-green); /* Ajusta el color de fondo */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.scroll-to-top:hover {
  transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
}

.scroll-to-top img {
  width: 24px; /* Tamaño de la flecha (ajusta según tu preferencia) */
  height: 24px;
}
